@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.calculator {
  background-color: rgb(0, 141, 212);
  width: 270px;
  margin: 2rem auto;
  padding: 2.5rem 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(103, 103, 103);
}
.inputs {
  padding: 1rem 0;
}
.inputs input {
  width: 94%;
  font-size: 2rem;
  padding: 0.5rem;
  outline: none;
  text-align: right;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.buttons button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn1{
  background-color: orange;
}
.btn1:hover{
  background-color: rgb(228, 151, 7);
}